<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KICK STREAM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/rtp-1-portugal">RTP1</a></li>
      <li><a href="/first-tv-ru">FIRST RU</a></li>
      <li><a href="/match-tv">MATCH! TV</a></li>
    </ul>
  </div>
</nav>
